html
  head
    link(rel="stylesheet", href="/ak-schetskaart/style.css")
    link(rel="stylesheet", href="/ak-schetskaart/font-awesome-4.6.3/css/font-awesome.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
    script(src="/ak-schetskaart/script.js")
  body
    .top
        .legenda-container
          .legenda.card-5
            .item
              img(src='/ak-schetskaart/img/gas.png')
              .text gas centralen
            .item
              img(src='/ak-schetskaart/img/solar panel.png')
              .text zonnepanelen
            .item
              img(src='/ak-schetskaart/img/windmill.png')
              .text windmolen
        #map
        .explanation-container
          .explanation.card-5
            header
            p
    .bottom.card-5
      .text Druk op spatie om verder te gaan.
      .controls
        i.fa.fa-arrow-left(aria-hidden="true")
        i.fa.fa-arrow-right(aria-hidden="true")
    
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfrqO5t6cNPGEfIoHTOuPupt6cKp8yPww&callback=initMap", async, defer)
